body {
    font-family: Montserrat;
}

.Logo {
    max-width: 300px;
    margin: auto;
    position: relative;
    left: 10px;
}

.text-1 {
    margin: auto;
}

.second-block {
    background-color: rgba(131, 9, 8, 1);
    height: 700px;
    margin-top:80px;
    margin-bottom: 60px;
}

.wrapper {
    position: relative;
    bottom: 40px;
    border-bottom: white;
}

.news-text {
    color:white;
}

.news-text a {
    text-decoration: none;
    color: white;
}

.OhNews {
    position: center;
    margin-bottom: 100px;
}

.news-1 {
    position: relative;
    top: 30px;
}

.Notion {
    position: relative;
    right: 15px;
}

.Notion a {
    text-decoration: none;
    color: black;
}

.N1 {
    margin-bottom: 50px;
}

.Info {
    margin-top: 50px;
}

.Outdoor {
    background-color: rgba(131, 9, 8, 1);
    height: 400px;
    margin-top: 100px;
}

.Outdoor h1 {
    color: white;
    padding-top: 125px;
    padding-left: 50px;
}

.Form {
    margin-top: 30px;
    width: 60%;
    padding-left: 50px;
}

.GPS {
    margin-top: 50px;
    position: relative;
}

.GPS h1 {
    text-align: center;
}

.GPS h4 {
    text-align: center;
}

.LABS {
    background-color: rgba(131, 9, 8, 1);
    padding-bottom: 60px;
}

.GLAVA {
    position: relative;
    bottom: 70px;
}

.LABS h7 {
    margin-top: 20px;
    color: white;
}

